# =========================
# File build của .NET / C#
# =========================
bin/
obj/
.vs/
.vscode/
*.user
*.suo
*.rsuser

# =========================
# File build chung
# =========================
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# =========================
# Cấu hình IDE
# =========================
.idea/

# =========================
# File cấu hình local có thể chứa mật khẩu / connection string
# =========================
appsettings.Development.json
appsettings.Local.json

# =========================
# React / Node
# =========================
node_modules/
dist/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# =========================
# File media upload local
# =========================
media-files/
# 1. Chặn tất cả mọi thứ bên trong thư mục uploads
**/wwwroot/uploads/**
# 2. Bỏ chặn cấu trúc thư mục để Git có thể chui vào trong
!**/wwwroot/uploads/
!**/wwwroot/uploads/audio/
!**/wwwroot/uploads/video/
# 3. Bỏ chặn CỤ THỂ 2 file dummy này (để giữ lại làm data mẫu)
!**/wwwroot/uploads/audio/dummy.mp3
!**/wwwroot/uploads/video/dummy.mp4
# =========================
# File hệ điều hành
# =========================
.DS_Store
Thumbs.db